<?xml version="1.0"?>
<launch>

	<!-- Launch file for Joystick control -->
  	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find jetsoncar_driver)/config/rosconsole.conf"/>

    <!-- For PS4 Joystick -->
	<!-- Remember to install "sudo pip install ds4drv" -->
	<!-- Start "sudo ds4drv" in seperate terminal -->  	
  	<!--<node name="ds4drv_script_call" pkg="kugle_bringup" type="run_ds4drv.sh" output="screen" />-->

    <!-- For PS3 Joystick or Navigation controller -->
    <!-- Remember to install sixad -->

  	<!-- JOY ROS NODE -->
    <!-- Remember to install "sudo apt install ros-kinetic-joy -->
	<node name="ps_joy" pkg="joy" type="joy_node" respawn="true">
	    	<param name="dev" type="string" value="/dev/input/js0" />
    		<!--<param name="deadzone" value="0.12" />-->
            <remap from="joy" to="joy" />
 	</node>

	<node name="joystick_test" pkg="jetsoncar_driver" type="joystick_test" respawn="true" output="screen">
        <param name="frequency" type="int" value="20" />
    	<remap from="joy" to="joy" />
 	</node>


</launch>
