<?xml version="1.0"?>
<launch>
    <!--<include file="$(find jetsoncar_sensors)/launch/t265.launch">
        <arg name="launch_rviz" value="false" />
        <arg name="camera" value="realsense_t265" />
        <arg name="publish_tf" value="false" />
    </include>

    <include file="$(find jetsoncar_sensors)/launch/d435.launch">
        <arg name="launch_rviz" value="false" />
        <arg name="camera" value="realsense_d435" />
    </include>-->

    <!-- Launching it with the individual launch files above causes unknown and unresolved USB problems with the T265 camera
    See https://github.com/IntelRealSense/realsense-ros/issues/774 -->
    <!-- Note that by launching both the frame rate of the D435 camera is only 15 FPS although it is supposed to be 30! -->

    <include file="$(find jetsoncar_sensors)/launch/t265.launch">
        <arg name="launch_rviz" value="false" />
        <arg name="camera" value="realsense_t265" />
        <arg name="publish_tf" value="true" />
    </include>

    <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
        <arg name="time" value="2" />
        <arg name="pkg" value="jetsoncar_sensors" />
        <arg name="file" value="d435.launch" />
        <arg name="value" value="launch_rviz:=false camera:=realsense_d435" />
    </include>         
</launch>
