<?xml version="1.0"?>
<launch>
    <include file="$(find jetsoncar_sensors)/launch/t265.launch">
        <arg name="launch_rviz" value="false" />
        <arg name="camera" value="realsense" />
    </include>

    <include file="$(find jetsoncar_sensors)/launch/imu.launch">
        <arg name="publish_tf" default="false" />
        <arg name="enable_heading_fusion" default="true" />
        <arg name="enable_position_fusion" default="false" />
        <arg name="odom_in_topic" value="/realsense/odom/sample" />
    </include>

    <!-- urdf xml robot description loaded on the Parameter Server (for use in RViz) - this also converts the xacro into a proper urdf file -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find jetsoncar_description)/urdf/jetsoncar.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <node pkg="tf" type="static_transform_publisher" name="world_odom" args="0 0 0 0 0 0 /world /realsense_odom_frame 100"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetsoncar_description)/rviz/t265_imu_fusion.rviz" required="false" />
</launch>
