<?xml version="1.0"?>

<launch>
	<arg name="database_path" default="~/.ros/rtabmap.db" />

	<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
		<!--<param name="databse_path" type="string" value="$(arg database_path)" />-->
		<param name="frame_id" type="string" value="base_link" />
		<!--<param name="odom_frame_id" type="string" value="odom" />-->
		<param name="subscribe_depth" type="bool" value="true" />
		<param name="subscribe_laserScan" type="bool" value="false" />

                <param name="approx_sync" type="bool" value="false"/>

                <remap from="rgb/image" to="/zed/zed_node/rgb/image_rect_color"/>
                <remap from="depth/image" to="/zed/zed_node/depth/depth_registered"/>
                <remap from="rgb/camera_info" to="/zed/zed_node/rgb/camera_info"/>
		<remap from="grid_map" to="/map" />
		<remap from="/odom" to="/zed/zed_node/odom" />

		<param name="RGBD/ProximityBySpace" type="string" value="true"/>
		<param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
		<param name="Kp/MaxDepth" type="string" value="4.0"/>
		<param name="Reg/Strategy" type="string" value="2"/>
		<param name="Icp/CorrespondenceRatio" type="string" value="0.3"/>
		<param name="Vis/MinInliers" type="string" value="5"/>
		<param name="Vis/InlierDistance" type="string" value="0.1"/>
		<param name="RGBD/AngularUpdate" type="string" value="0.1"/>
		<param name="RGBD/LinearUpdate" type="string" value="0.1"/>
		<param name="Rtabmap/TimeThr" type="string" value="700"/>
		<param name="Mem/RehearsalSimilarity" type="string" value="0.30"/>
	</node>

	<!--<node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="0 0 0 0 0 0 world /map 100" />-->

	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
		<remap from="cloud_in" to="/rtabmap/cloud_map" />
		<param name="frame_id" type="string" value="map" />
		<param name="latch" value="false" />
		<param name="resolution" value="0.05" />
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetsoncar_description)/rviz/octomap_test.rviz" />
</launch>
